/* You can add global styles to this file, and also import other style files */
body{
       background-image:url('https://s-media-cache-ak0.pinimg.com/originals/c0/df/17/c0df173602b922ed11b4e0bccb23ddff.png'); 
       
}
/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('./assets/Preloader_3.gif') center no-repeat #fff;
}
