/*Styling navbar*/
.navbar {
    margin-bottom: 0;
    background-color: white;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    
    
    
}

navbar li a, .navbar {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color:dodgerblue !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}





/* Style all font awesome icons */
.fa {

    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    
}

/* Add a hover effect if you want */
.fa:hover {

}

/* Set a specific color for each brand */

/* Facebook */

.fa-facebook:hover {
    color: #3b5998
}
.fa-twitter:hover{
    color:#4099FF;
}
.fa-google:hover {
    color:#dd4b39;
}