<nav class="navbar navbar-default navbar-fixed-top hoverable" >
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar "></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" style="color:#309F94" href="#">Made By Fidelity</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <div *ngIf="!checkForPage">
      <ul class="nav navbar-nav navbar-right">
        
           <li><a href="#home" style="color:#309F94"><strong>Home</strong></a></li>
           <li><a href="#aboutUs" style="color:#309F94"><strong>About us</strong></a></li>
           <li><a href="#services" style="color:#309F94"><strong>Services</strong></a></li>
          
        
<!-- Add icon library -->

     
       
      </ul>
      </div>
      <div *ngIf="checkForPage">
      <ul class="nav navbar-nav navbar-right">
      
      
           <li><a (click)="link4()" style="color:#309F94"><strong>Your Account</strong></a></li>
           <li><a (click)="link1()" style="color:#309F94"><strong>Give Rewards</strong></a></li>
           <li><a (click)="link2()" style="color:#309F94"><strong>About Us</strong></a></li>
           <li><a (click)="link3()" style="color:#309F94"><strong>Settings</strong></a></li>
        
        
        <li><button class="btn btn-sm btn-success text-center" (click)="signOut()" style="margin-top:10%">Sign Out</button></li>
      </ul>
      </div>
    </div>
  </div>
</nav>


