<app-navbar> </app-navbar>


<div class="container animated fadeIn " style="margin-top:10%;" id="account" >
<div class="row">
<div class="col-sm-12">
<div class="panel panel-default text-center ">
    <div class="col-sm-4">
    <div class="panel-heading">
<h3 id="title">DETAILS</h3>
    </div>
            <div class="panel-body">
<h5 id="my"><strong>ID:109898798</strong></h5>
</div>
</div>
  
        
<div class="col-sm-4">
    <div class="panel-heading">
<h3 id="title">QR CODE</h3>
    </div>
            <div class="panel-body">
<my-qr-code-component ></my-qr-code-component>
</div>
</div>
<div class="col-sm-4">
<div id="wrapper">
<div class="scrollbar" id="style-6">
<div class="force-overflow">
        <div class="panel-heading">
          <h3 id="title">TOKENS</h3>
        </div>
        <div class="panel-body">
          <p><strong>MERCEDES: </strong>5</p>
          <p><strong>FERARI: </strong>6</p>
          <p><strong>AUDI: </strong>10</p>
          <p><strong>VOLKWAGON: </strong>12</p>
          <p><strong>MERCEDES: </strong>5</p>
          <p><strong>FERARI: </strong>6</p>
          <p><strong>AUDI: </strong>10</p>
          <p><strong>VOLKWAGON: </strong>12</p>
          <p><strong>MERCEDES: </strong>5</p>
          <p><strong>FERARI: </strong>6</p>
          <p><strong>AUDI: </strong>10</p>
          <p><strong>VOLKWAGON: </strong>12</p>
          <p><strong>MERCEDES: </strong>5</p>
          <p><strong>FERARI: </strong>6</p>
          <p><strong>AUDI: </strong>10</p>
          <p><strong>VOLKWAGON: </strong>12</p>
        </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
