h1,h4,#mer{
    color: black;
}


p,h4{
  font:  bold 20px/30px Georgia, serif;
}


.scrollbar
{
	margin-left: 30px;
	float: left;
	height: 500px;
	width: 400px;
	overflow-y: scroll;
	margin-bottom: 25px;
	
	
}

.force-overflow
{
	min-height: 500px;
}
#wrapper
{
	text-align: center;
	width: 500px;
	margin: auto;
}
#my{
	color: black;
}

#style-6::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: transparent;
	height: 10px;
}

#style-6::-webkit-scrollbar
{
	width: 10px;
	background-color: transparent;
}

#style-6::-webkit-scrollbar-thumb
{
	background-color: transparent;	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}
#jo{
margin-left: 100px;
}

#why{
  margin-left: 50px;
word-spacing: 120px;
}
 #space{
	 float: right;
	 margin-right: 100px;
 }
 #qr{
	   margin-left: 20px;
 }

 .set{
  animation-name:drive7;
  animation-duration: 1s;
  animation-fill-mode:forwards;
}

@keyframes drive7{
  from { transform: translateX(-50px)}
  to { transform: translateX(0px) }

}
.panel {
    border: 1px solid transparent; 
    border-radius:0;
    transition: box-shadow 0.5s;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.panel-footer .btn:hover {
    border: 1px solid #00BCD4;
    background-color: #00BCD4 !important;
    color: #00BCD4;
}

.panel-heading {
    color: #fff !important;
    background-color:springgreen !important;
    padding: 10px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
#title{
	color: white;
}