<!--START code for sign-in and sign-up -->

<!-- FORM SIGN IN-->
  <div id="login-card" class="container setIn" style="float:right;width:30%;margin-top:5%; margin-right:5%;"  *ngIf="isValid">
	
    <form class="form-signin hoverable"  [formGroup]="loginForm">
       

     
      <h3>Sign In</h3>     
       
	    <div class="input-group form-group" >
        <!--[(ngModel)]="model.title" -->
         <input type="text" formControlName="username" minlength="5"  maxlength="30"  #username required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Username</label>
          
      </div>

      <div class="input-group form-group ">
              <input type="password" formControlName="password" minlength="5"  maxlength="30" #password  required>
                  <span class="highlight"></span>
                    <span class="bar"></span>
                  <label>Password</label>
      </div>

      <button type="button" class="btn btn-sm btn-primary text-center " (click)="signIn(username.value,password.value)"  type="submit" style="margin-top:20%; ">Sign in</button>
                   
  <div class="container">
<div class="row">
  <div class="col-sm-12">
	<!-- Section Title -->
	<div class="section-title">
		<p>Or sign in Via</p>
		<div class="divider"></div>
  <ul class="row-sm-3">
	  <li><a href="#" class="fa fa-facebook"></a></li>
        <li><a href="#" class="fa fa-twitter"></a></li>
        <li><a href="#" class="fa fa-google"></a></li>
       
      </ul>
	</div>
</div>
</div>
</div>
<div *ngIf="iserror" style="color:red">wrong password</div>
		  <a href="#" style="margin-top:10%" class="pull-right help ">Need help? </a><span class="clearfix"></span>	

 


    </form>
	  <a (click)="signupCard()" id="createNew"  href="#" style="color:black" class="text-center account-creation">Create an account </a>

  </div>

<!-- FORM SIGN UP-->

  <div id="login-card" class="container animated pulse"  style="float:right;width:40%;margin-top:3.5%;"  *ngIf="!isValid">
	


     <form class="form-signin form-group" [formGroup]="signUpForm">
      
      <h3>Sign Up</h3>     
      

      <div class="input-group form-group">
        <input type="text" required formControlName="username" #username minlength="5"  maxlength="30">
          <span class="highlight"></span>
          <span class="bar"></span>
         <label>Username</label>  
      </div>


        <div class="input-group">
            <input type="password" required formControlName="password1" #password1 minlength="5"  maxlength="30">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Create A Password</label>
        </div>

        <div class="input-group">
            <input type="password" required formControlName="password2" #password2  minlength="5"  maxlength="30">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Type Password Again</label>
        </div>
        
        <button class="btn btn-sm btn-primary text-center " (click)="signUp(username.value,password1.value,password2.value)" type="submit" style="margin-top:20%">Sign up</button>
       

<a href="#" style="margin-top:10%" class="pull-right help">Need help? </a><span class="clearfix"></span>	

 <div class="container">
<div class="row">
  <div class="col-sm-12">
	<!-- Section Title -->
	<div class="section-title">
		<p>Or sign in Via</p>
		<div class="divider"></div>
  <ul class="row-sm-3">
	  <li><a href="#" class="fa fa-facebook"></a></li>
        <li><a href="#" class="fa fa-twitter"></a></li>
        <li><a href="#" class="fa fa-google"></a></li>
       
      </ul>
	</div>
</div>
</div>
</div>
      </form>
	  	<a (click)="signupCard()" style="color:black" id="createNew" href="#" class="text-center account-creation">Already have an account? Sign in </a>
	
  </div>

   <!--END code for sign-in and sign-up -->
   