/* Card Styling */

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fff;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
   background-color: azure;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.input-group {
  position: relative;
  margin: 40px 0 20px;
}

input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 200px;
  border: none;
  border-bottom: 1px solid #757575;
}

input:focus {
  outline: none;
}

label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}



input:focus ~ label,
input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #4285f4;
}

.bar {
  position: relative;
  display:block;
  width:fit-content;
}

.bar:before,
.bar:after {
  content: '';
  height: 1px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #4285f4;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.9;
}

input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* animations */
@-webkit-keyframes inputHighlighter {
  from { background: #4285f4; }
  to   { width: 0; background: transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background: #4285f4; }
  to   { width: 0; background: transparent; }
}
@keyframes inputHighlighter {
  from { background: #4285f4; }
  to   { width: 0; background: transparent; }
}

.help
{
    margin-top: 10px;
}
.account-creation
{
    display: block;
    margin-top: 10px;
}

.ng-valid[required], .ng-valid.required  {

    border-left: 3px solid #42A948; /* green */
  

}
.ng-invalid[required]:invalid,.ng-valid.required  {
  border-bottom: 2px solid grey /* red */
}



.setIn{
  animation-name:drive;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes drive{
  from { transform: translateX(200px)}
  to { transform: translateX(0px) }

}


/*   divider css   */
.section-title {
max-width: fit-content;
padding: 15px;
text-align: center; }
.section-title h1 {
font-size: 24px;
text-transform: uppercase;
color: #4285f4; }
.section-title .divider {
position: relative;
border-bottom: 1px solid #f0f0f0;
margin-bottom: 30px;
margin-top: 30px; }
.section-title .divider:before {
position: absolute;
content: '';
width: 30px;
height: 30px;
border: 1px solid #f0f0f0;
left: 50%;
margin-left: -15px;
top: 50%;
background: #fff;
margin-top: -15px;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg); }
.section-title .divider:after {
position: absolute;
content: '';
width: 20px;
height: 20px;
border: 1px solid #2ca5b9;
left: 50%;
margin-left: -10px;
top: 50%;
background: #4285f4;
margin-top: -10px;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg); }


/* Style all font awesome icons */
.fa {

    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    display: inline;
}

li {float: left;  padding: 5px; list-style-type: none; margin-left:12%;  }
li:hover{
    transform: scale(2);
	  opacity: 1;
}

