<div class="col animated fadeIn" >
  
  <div class="row-sm-3" style="color:white; text-align:center; margin-top:5%;">
    <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                   <strong> Oops!</strong></h1>
                <h2>
                   <strong> This wasn't supposed to happen </strong></h2>
                <div class="error-details">
                 <h4> <strong> There's some glitch sitting somewhere over our side.<br> Relax, let us do some sweeping and we'll get back to you  </strong></h4>
                </div>
                <div class="error-actions">
                    <a href="/" class="btn btn-primary btn-md"><span class="glyphicon glyphicon-home"></span>
                        Take Me Home </a><a href="http://www.jquery2dotnet.com" class="btn btn-default btn-md"><span class="glyphicon glyphicon-envelope"></span> Contact Support </a>
                </div>
            </div>
        </div>
    </div>
  </div>
  </div>
  <div class="row-sm-9" >
      <img src="https://thoughtcatalog.files.wordpress.com/2013/01/brokelarge.jpg" class="img-responsive"  style="display: block;
  margin-left: auto;
  margin-right: auto;"/>
  </div>
  
  
  
  


</div>
