div.content {
    margin-left: 200px;
}
div.side {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    background: teal;
    width: 180px;
    padding: 10px;
    margin-top: 50px;

}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    color: #fff;
}

