
<div class="content"  >
    <div class="side" style="margin-top:4%;" >
        <ul>
           <!-- <li>item 1</li>
            <li>item 2</li>
            <li>item 3</li>-->
        </ul>
    </div>

    <!-- content -->
    <router-outlet data-spy="scroll" data-target=".navbar" data-offset="50"> </router-outlet>
</div>


