.panel {
    border: 1px solid #00BCD4; 
    border-radius:0;
    transition: box-shadow 0.5s;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.panel-footer .btn:hover {
    border: 1px solid #00BCD4;
    background-color: #00BCD4 !important;
    color: #00BCD4;
}

.panel-heading {
    color: #fff !important;
    background-color: #00BCD4 !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.panel-footer {
    background-color: #fff !important;
}

.panel-footer h3 {
    font-size: 32px;
}

.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}

.panel-footer .btn {
    margin: 15px 0;
    background-color: #00BCD4;
    color: #fff;
}
.setone:hover{
  animation-name:drive3;
  animation-duration: 0.7s;
  animation-fill-mode:forwards;
}

@keyframes drive3{
 from { transform: scale(1)}
  to { transform: scale(1.08) }
}
