<app-navbar> </app-navbar>

<div class="container-fluid animated fadeIn" style="margin-top:10%;">
  <div class="text-center">
    <h2 style="color:black">Account Transaction</h2>
    <h4 style="color:black">All your In-Transaction and Out Transaction</h4>
  </div>
  <div class="row" style="margin-top:5%;">
    <div class="col-sm-4 setone">
      <div class="panel panel-default text-center ">
        <div class="panel-heading">
          <h1>In-Transaction</h1>
        </div>
        <div class="panel-body" ng-model="limit" ng-model="offset">
        <p *ngFor="let int of generateArray(offset,limit)"><strong>{{ data[int] }}</strong></p>
        </div>
        <div class="panel-footer">
          <h3>$19</h3>
          <h4>per month</h4>
          <button class="btn btn-lg">Sign Up</button>
          <!-- Pagination starts-->
          <nav class="text-center">
          <ul class="pagination">
          <li class="page-item disabled">
          <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
          </a>
          </li>
          <li class="page-item"  *ngFor="let int of range(pages)"><a class="page-link" (click)="setPage(int)" >{{ int }}</a></li>
          <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
          </a>
          </li>
        
        </ul>
      </nav>    

         <div class="dropup">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Dropup Example
    <span class="caret"></span></button>
    <ul class="dropdown-menu" >
      <li><a (onClick)="seeTransaction(0,10)">HTML</a></li>
      <li><a href="#">CSS</a></li>
      <li><a href="#">JavaScript</a></li>
      <li class="divider"></li>
      <li><a href="#">About Us</a></li>
    </ul>
  </div>
        </div>
      </div> 
    </div> 
    <div class="col-sm-4 setone">
      <div class="panel panel-default text-center ">
        <div class="panel-heading">
          <h1>Out-Transaction</h1>
        </div>
        <div class="panel-body">
          <p><strong>50</strong> Lorem</p>
          <p><strong>25</strong> Ipsum</p>
          <p><strong>10</strong> Dolor</p>
          <p><strong>5</strong> Sit</p>
          <p><strong>Endless</strong> Amet</p>
        </div>
        <div class="panel-footer">
          <h3>$29</h3>
          <h4>per month</h4>
          <button class="btn btn-lg">Sign Up</button>
        </div>
      </div> 
    </div> 



    <div class="col-sm-4 setone">
      <div class="panel panel-default text-center ">
        <div class="panel-heading">
          <h1>Total Balance</h1>
        </div>
        <div class="panel-body">
          <p><strong>50</strong> Lorem</p>
          <p><strong>25</strong> Ipsum</p>
          <p><strong>10</strong> Dolor</p>
          <p><strong>5</strong> Sit</p>
          <p><strong>Endless</strong> Amet</p>
        </div>
        <div class="panel-footer">
          <h3>$29</h3>
          <h4>per month</h4>
          <button class="btn btn-lg">Sign Up</button>
        </div>
      </div> 
    </div> 
  
  </div>
</div>