


<div  class=" jumbotron row animated fadeIn" >
  <app-navbar> </app-navbar>
  
  
  
  <div style="float:left; " id="home" class="setInRight" >
  <h1 style=" padding-left:0%; padding-top:5%; ">FIL COINS</h1>
   <blockquote style="border-left-color:darkcyan;"> Some text related to BitCoins and services that we provide <br> And feel free to contact us any time</blockquote>
  

  </div>
  <app-login-form> </app-login-form>

 <ul class="ch-grid">
	<li>
		<div class="ch-item ch-img-1">
			<div class="ch-info">
				<h3>Use what you have</h3>
				<p>by Angela Duncan <a href="http://drbl.in/eOPF">View on Dribbble</a></p>
			</div>
		</div>
	</li>
	<li>
		<div class="ch-item ch-img-2">
			<div class="ch-info">
				<h3>Common Causes of Stains</h3>
				<p>by Antonio F. Mondragon <a href="http://drbl.in/eKMi">View on Dribbble</a></p>
			</div>
		</div>
	</li>
	<li>
		<div class="ch-item ch-img-3">
			<div class="ch-info">
				<h3>Pink Lightning</h3>
				<p>by Charlie Wagers <a href="http://drbl.in/ekhp">View on Dribbble</a></p>
			</div>
		</div>
	</li>
</ul>
   
</div>

 <app-team-cards></app-team-cards><br/>
  <app-provide-services></app-provide-services>






