/* Add an orange color to all icons and set the font-size */
.logo-small {
    color: #309F94;
    font-size: 50px;
}

.logo {
    color: #309F94 ;
    font-size: 200px;
}
.h4,.p,{
    color:white;
}
.h1{
    color:#309F94;
}
.touch:hover{
    background-color: lightblue;
}