<app-navbar> </app-navbar>
<div class="animated fadeIn " id="rewards">
  <div class="card mdl-shadow--5dp white hoverable" style="margin-left:5%; margin-right:5%; margin-top:5%;">

      <div class="mdl-card__supporting-text" style="margin-top:6%;">

          <div class="mdl-stepper-horizontal-alternative" >
            <div class="mdl-stepper-step active-step" (click)="change(1)" >
                <div class="mdl-stepper-circle"><span>1</span></div>
                <div class="mdl-stepper-title">Select Details</div>
                <div class="mdl-stepper-bar-left"></div>
                <div class="mdl-stepper-bar-right"></div>
            </div>
            <div class="mdl-stepper-step active-step " (click)="change(2)" >
                  <div class="mdl-stepper-circle"><span>2</span></div>
                  <div class="mdl-stepper-title">Answer Question</div>
                  <div class="mdl-stepper-bar-left"></div>
                  <div class="mdl-stepper-bar-right"></div>
            </div>
            <div class="mdl-stepper-step active-step" (click)="change(3)">
              <div class="mdl-stepper-circle"><span>3</span></div>
              <div class="mdl-stepper-title">Extra Comments</div>
              <div class="mdl-stepper-optional">Optional</div>
              <div class="mdl-stepper-bar-left"></div>
              <div class="mdl-stepper-bar-right"></div>
            </div>
           
          </div>

      </div>

  </div>
  <!-- Different Forms -->



<div class="container">
	<div class="row">
		<div class="col">
			 <!-- Forms No.1 -->
			<div class="weather-card one white hoverable text-center" *ngIf="id==1">
				<div class="top">
					<div class="wrapper">
						<div class="mynav">
							<a href="javascript:;"><span class="lnr lnr-chevron-left"></span></a>
							<a href="javascript:;"><span class="lnr lnr-cog"></span></a>
						</div>
						<h1 class="heading">Clear night</h1>
						<h3 class="location">Dhaka, Bangladesh</h3>
						<p class="temp">
							<span class="temp-value">20</span>
							<span class="deg">0</span>
							<a href="javascript:;"><span class="temp-type">C</span></a>
						</p>
					</div>
				</div>
				<div class="bottom">
					<div class="wrapper">
						<ul class="forecast">
							<a href="javascript:;"><span class="lnr lnr-chevron-up go-up"></span></a>
							<li class="active">
								<span class="date">Yesterday</span>
								<span class="lnr lnr-sun condition">
									<span class="temp">23<span class="deg">0</span><span class="temp-type">C</span></span>
								</span>
							</li>
							<li>
								<span class="date">Tomorrow</span>
								<span class="lnr lnr-cloud condition">
									<span class="temp">21<span class="deg">0</span><span class="temp-type">C</span></span>
								</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- Forms No.2 -->
			<div class="weather-card one white hoverable text-center" *ngIf="id==2">
				<div class="top">
					<div class="wrapper">
						<div class="mynav">
							<a href="javascript:;"><span class="lnr lnr-chevron-left"></span></a>
							<a href="javascript:;"><span class="lnr lnr-cog"></span></a>
						</div>
						<h1 class="heading">Beautiful night</h1>
						<h3 class="location">Dhaka, Bangladesh</h3>
						<p class="temp">
							<span class="temp-value">20</span>
							<span class="deg">0</span>
							<a href="javascript:;"><span class="temp-type">C</span></a>
						</p>
					</div>
				</div>
				<div class="bottom">
					<div class="wrapper">
						<ul class="forecast">
							<a href="javascript:;"><span class="lnr lnr-chevron-up go-up"></span></a>
							<li class="active">
								<span class="date">Yesterday</span>
								<span class="lnr lnr-sun condition">
									<span class="temp">23<span class="deg">0</span><span class="temp-type">C</span></span>
								</span>
							</li>
							<li>
								<span class="date">Tomorrow</span>
								<span class="lnr lnr-cloud condition">
									<span class="temp">21<span class="deg">0</span><span class="temp-type">C</span></span>
								</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			
			<!-- Forms No.3 -->
			<div class="weather-card text-center" *ngIf="id===3">
				 <div class="form-group has-success has-feedback">
  <label class="control-label" for="username">Username</label>
  <input type="text" class="form-control" id="username" aria-describedby="usernameStatus">
  <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
  <span id="usernameStatus" class="help-block">Username is available!</span>
</div>
<div class="form-group has-warning has-feedback">
  <label class="control-label" for="password">Password</label>
  <input type="password" class="form-control" id="password" aria-describedby="passwordStatus">
  <span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
  <span id="passwordStatus" class="help-block">Weak password</span>
</div>
<div class="form-group has-error has-feedback">
  <label class="control-label" for="phone">Phone Number</label>
  <input type="tel" class="form-control" id="phone" aria-describedby="phoneStatus">
  <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
  <span id="phoneStatus" class="help-block">Please enter a valid phone number</span>
</div>
       		</div>

	
	</div>
</div>
</div>
</div>


 




  