<app-navbar> </app-navbar>
<div class="container animated fadeIn" id="for" >

<img src="https://cdn2.iconfinder.com/data/icons/color-svg-vector-icons-part-2/512/refresh_key_reload-512.png" />
<!--<div class="form-style-6 ">
<input type="email" name="field1" placeholder="E-MAIL"/>
</div>
<div class="form-style-6 ">
<input type="password" name="field2" placeholder="CUURENT PASSWORD"/>
</div>
<div class="form-style-6 ">
<input type="password" name="field2" placeholder="NEW PASSWORD"/>
</div>
<input type="submit" name="submit" class="btn btn-md btn-primary text-center button" value="CONFIRM">
</form><br/>
</div>-->

 <form class="form-signin hoverable" [formGroup]="loginForm" >
       

      <p><strong>FIL Coins</strong></p>
      <h3>Change Password</h3>     
      <h5>Some text related to FIL Coins</h5>  
	    <div class="input-group form-group" >
        <!--[(ngModel)]="model.title" -->
         <input type="text" formControlName="username" #username minlength="5"  maxlength="30" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Username</label>
          
      </div>

      <div class="input-group form-group ">
              <input type="password" formControlName="password1" minlength="5"  maxlength="30" #password1  required>
                  <span class="highlight"></span>
                    <span class="bar"></span>
                  <label>Password</label>
      </div>
        <div class="input-group form-group ">
              <input type="password" formControlName="password2" minlength="5"  maxlength="30" #password2  required>
                  <span class="highlight"></span>
                    <span class="bar"></span>
                  <label>Password Again</label>
      </div>

      <button type="button" class="btn btn-sm btn-primary text-center " (click)="changePassword(username.value,password1.value,password2.value)"  type="submit" style="margin-top:20%; ">Change Password</button>
        
		  <a href="#" style="margin-top:10%" class="pull-right help ">Need help? </a><span class="clearfix"></span>	

    </form>
	  


  
