<!-- Meetthe team cards -->

<div id="aboutUs" style="margin:0;">
<div class="row setInUp " style="margin-top:1%; ">
  <div class="column setInUp">
    <div class="card white">
      <img src="http://www.trbimg.com/img-51a94e83/turbine/la-vince-and-owen-at-google-jpg-20130531/599/599x391" alt="Jane" >
      <div class="container">
        <h2>Jane Doe</h2>
        <p class="title">CEO &amp; Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><button class="button btn btn-sm">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column setInUp">
    <div class="card white">
      <img src="http://static4.businessinsider.com/image/557ee64069bedd101d0e26f6-480/google-employees.jpg" alt="Mike" >
      <div class="container">
        <h2>Mike Ross</h2>
        <p class="title">Art Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <button class="button btn btn-sm">Contact</button>
      </div>
    </div>
  </div>

  <div class="column setInUp">
    <div class="card white">
      <img src="https://lh3.googleusercontent.com/65pJ2jTkRYJwkcwIlmkKAGlggGhz5iExUd6a3qO87useb1Lib2Rsk9GxoySN2CZxKCd62yxK1CMVsljqe3s61Bo=w1614" alt="John" >
      <div class="container">
        <h2>John Doe</h2>
        <p class="title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><button class="button btn btn-sm">Contact</button></p>
      </div>
    </div>
  </div>
</div>
</div>